/* HEADER */
.class1 {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.class1 h1 {
  font-size: 36px;
}

.class2 a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px;
}

/* TOP SECTION */
.class3 {
  background-image: url("/TheReviewers/image/popcorn5.jpg");
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  padding: 60px 20px;
}

/* BODY */
body {
    margin: 5px;
    font-family: Arial, sans-serif;
}

/* CONTAINER */
.container div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* IMAGES */
.container img {
    border: 4px pink solid;
    margin: 2px;
    padding: 2px;
    align-items: flex-start;
}

/* PARAGRAPHS */
.container p {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

/* CURRENTLY WATCHING */
.currentlywatching ul {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 5px gold solid;
    width: 400px;
    padding: 5px;
    margin: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 206, 206);
}

/* HOT TAKES */
.hottakes {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    border: 5px rgb(251, 101, 101) solid;
    padding: 5px;
    margin: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 206, 206);
}

/* RETRO REVIEW */
.retroreview {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.retroreview > img {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* THRONES IMAGE */
.thronesimage {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px navy solid;
    margin: 3px;
    padding: 2px;
    width: 200px;
}

/* FOOT IMAGE */
.footimage {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    border: 5px navy solid;
    width: 300px;
    padding: auto;
    margin: auto;
}

/* FOOTER */
.class8 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}