
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white; 
}

/* HEADER */
.class1 {
  background-color: black;
  color: white;
  padding: 20px;
}

.class2 a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

/* HERO */
.class3 {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 40px;
}

/* MAIN (ONLY THIS IS YELLOW) */
.class4 {
  width: 90%;
  margin: 20px auto;
  background-color: yellow;
  padding: 20px;
}

/* SECTIONS */
.class5 {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px dashed black;
}

/* FLEX ROW */
.class6 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: stretch;
}
/* BOXES */
.class7 {
  background-color: lightgray;
  flex: 1;
  min-width: 200px;
  padding: 15px;
  text-align: center;
}

.class7 img {
  width: 100%;
}
  .class7 img {
  width: 100%;
  margin-top: 10px;
}

.class7 iframe {
  width: 100%;
  height: 200px;

}

.class7 img {
  width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* FOOTER */
.class8 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}